html {
	height: 100%;
	min-width: 480px;
	min-height: 320px;
}

body { 
	margin: 0px; 
	padding: 0px;
	height: 100%;
	overflow: hidden;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: black;
}

#ui #top {
	background-color: rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	height: auto;
	padding: 3px;
	width: 100%;
	position: absolute;
	top: 0px;
	font-size: 12px;
	color: white;
	text-shadow: black 0px 0px 4px;
}

#ui #panel-container {
	height: 100%;
	width: 200px;
	position: absolute;
	right: 0px;
	top: 0px;
}
#ui #panel-container.hidden { width: 1px; }
#ui #panel-container.hidden #panel { display: none; }

#ui #panel {
	height: 100%;
	width: 190px;
	-webkit-box-shadow: 1px 1px 5px #000;
	-moz-box-shadow: 1px 1px 5px #000;
	-o-box-shadow: 1px 1px 5px #000;
	-ms-box-shadow: 1px 1px 5px #000;
	padding: 5px;
	border-left: 1px solid #EEE;
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    right top,
	    color-stop(0, #CCC),
	    color-stop(1, #AAA)
	);
	background-image: -webkit-linear-gradient(left, #CCC 0%, #AAA 100%);
	background-image: -ms-linear-gradient(left, #CCC 0%, #AAA 100%);
	background-image: -o-linear-gradient(left, #CCC 0%, #AAA 100%);
	background-image: -moz-linear-gradient(left, #CCC 0%, #AAA 100%);
	background-image: linear-gradient(left, #CCC 0%, #AAA 100%);
}
#ui #panel-container #panel-toggle {
	position: absolute;
	z-index: 2000;
	left: -50px;
	/* center the toggle vertically */
	top: 50%;
	margin-top: -25px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	display: block;
	width: 70px;
	height: 30px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	background-color: #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;

	/* Rotate the element 90 degrees CCW */
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	-ms-transform: rotate(-90deg); 
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	text-shadow: #F2F2F2 1px 1px 1px;
}

#ui #panel h3 { 
	padding: 0px; 
	margin: 0px; 
	text-shadow: #F2F2F2 1px 1px 1px;
} 
#ui #panel ul { list-style: none; margin: 0px; padding: 0px; }
#ui #panel ul li {
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #777;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, #FFF),
	    color-stop(1, #CCC)
	);
	background-image: -webkit-linear-gradient(center bottom, #FFF 0%, #CCC 100%);
	background-image: -ms-linear-gradient(center bottom, #FFF 0%, #CCC 100%);
	background-image: -o-linear-gradient(center bottom, #FFF 0%, #CCC 100%);
	background-image: -moz-linear-gradient(center bottom, #FFF 0%, #CCC 100%);
	background-image: linear-gradient(center bottom, #FFF 0%, #CCC 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 2px 2px 5px #666;
	-moz-box-shadow: inset 1px 1px 5px #000;
	-o-box-shadow: inset 1px 1px 5px #000;
	-ms-box-shadow: inset 1px 1px 5px #000;
	box-shadow: inset 1px 1px 5px #000;
}
#ui #panel ul li:hover, #ui #panel ul li:active {
	cursor: pointer;
	background: #FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

#ui #panel ul li h2 { padding: 0px; margin: 0px; font-size: 12px; }
#ui #panel ul li p { padding-top: 3px; margin: 0px; font-size: 11px; }
#ui #panel ul li span { font-weight: bold; }

#ui #top #balance { font-weight: bold; }

#ui #tools {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 10px;
}

#ui #tools ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#ui #tools li {
	cursor: pointer;
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	border: 1px solid #75E0F0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px #000;
	-moz-box-shadow: 1px 1px 5px #000;
	-o-box-shadow: 1px 1px 5px #000;
	-ms-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
}

#ui #tools li#select { background: rgb(57,191,191) url(../../img/ui-icons.png) no-repeat 5px 7px; }
#ui #tools li#move { background: rgb(57,191,191) url(../../img/ui-icons.png) no-repeat 5px -28px; }
#ui #tools li#zoomIn {	background: rgb(57,191,191) url(../../img/ui-icons.png) no-repeat 5px -64px; }
#ui #tools li#zoomOut { background: rgb(57,191,191) url(../../img/ui-icons.png) no-repeat 5px -100px; }
#ui #tools li#load { background: rgb(57,191,191) url(../../img/ui-icons.png) no-repeat 5px -132px; }
#ui #tools li#save { background: rgb(57,191,191) url(../../img/ui-icons.png) no-repeat 5px -166px; }
#ui #tools li#rotate { background: rgb(57,191,191) url(../../img/ui-icons.png) no-repeat 5px -204px; }
#ui #tools li#demolish { background: rgb(57,191,191) url(../../img/ui-icons.png) no-repeat 5px -243px; }

#ui #tools li.active {
	-webkit-box-shadow: inset 1px 1px 20px #FFF, 1px 1px 20px #FFF;
	-moz-box-shadow: inset 1px 1px 20px #FFF, 1px 1px 20px #FFF;
	-ms-box-shadow: inset 1px 1px 20px #FFF, 1px 1px 20px #FFF;
	-o-box-shadow: inset 1px 1px 20px #FFF, 1px 1px 20px #FFF;
	box-shadow: inset 1px 1px 20px #FFF, 1px 1px 20px #FFF;
}